<configuration>

    <!--<conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level %logger{25} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="play" level="INFO" />
    <logger name="kurento" level="DEBUG" />
    <logger name="actor" level="DEBUG" />
    <logger name="controllers" level="DEBUG" />
    <logger name="application" level="DEBUG" />

    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />


</configuration>