upstream docker-kurento {
  server playapp:9000;
}


server {
  # Redirect HTTP to HTTPS
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name local.trembit.com webrtc-showcase.trembit.com;
  return 301 https://$host:5085$request_uri;
}


server {
  listen 443;
  server_name local.trembit.com webrtc-showcase.trembit.com;

  # SSL configuration
  ssl on;
  ssl_certificate /etc/nginx/certs/fullchain.pem;
  ssl_certificate_key /etc/nginx/certs/privkey.pem;
  ssl_dhparam /etc/nginx/certs/ssl-dhparams.pem;

  # Play websocket connection
  location /stream {
    # switch off logging
    access_log off;

    # redirect all HTTP traffic to localhost:9000
    proxy_pass http://playapp:9000;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # WebSocket support (nginx 1.4)
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location /admin {
    # switch off logging
    access_log on;

    # redirect all HTTP traffic to localhost:9000
    proxy_pass http://playapp:9000;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  # Serving static files
  location / {
    # switch off logging
    access_log off;

    root    /etc/nginx/html/;
    index   index.html;
    #    autoindex off;
    charset utf-8;

    rewrite ^/$               /room/default         redirect;
    rewrite ^/static/(.*)$    /web/$1?              break;
    rewrite ^/room/\w*        /web/index.html       break;
    rewrite ^/\w*             /room/default         redirect;
  }
}